.blogs.col-sm-4
  .card.mt-5{ style: "width: 18rem; margin: auto;"}
    .card-img-top
      = image_tag  post.image, size: "500x100", style: "width: 100%; height: 30%;"
    .card-body
      .card-title
        = post.title
      .card-text
        = post.created_at
      = link_to post_path(post.id) do
        %button.btn.btn-outline-dark
          詳細
