.contents {
  height: calc(100vh - 60px);
  width: 100vw;
  background-image: url(AdobeStock_69424905.jpeg);
  background-size: cover;
  overflow: scroll;
}

.new-blog__contents {
  background-image: url(AdobeStock_222559316_Preview.jpeg);
  background-size: cover;
}